manifest {
  author = "Julien Fouret"
  version = "1.0.1"
  defaultBranch = "main"
  name = "primary"
  description = "Primary"
  nextflowVersion = ">=24.04.0"
}

plugins {
  id 'nf-validation@1.1.3'
}

params {
  help = false

  //Input/output options

  input = null
  in_dir = null
  out_dir = null
  save_fastp = true
  publish_dir_mode = "link"

  // misc options

  num_reads = 250000
  
  // fastp options

  trim_poly_g = true
  trim_poly_x = true
  min_avg_qual = 28
  min_len = 41
  cut_right_window_size = 4
  cut_right_mean_qual = 20
  cut_tail_window_size = 4
  cut_tail_mean_qual = 25
  

  // kraken2 options

  kraken2_db = null
  tax_dir = "${projectDir}/data/test/input_dir/rcf_taxdump/taxdump_26092024"
  
  // Resource options

  ncpus_low = 4
  ncpus_med = 8
  ncpus_high = 16
  mem_low = 15
  mem_med = 30
  mem_high = 120
  kraken2_cpus = 8
  kraken2_memory = 20

}

includeConfig "modules/config/process/labels.config"
includeConfig "modules/config/profiles.config"
includeConfig "modules/config/pipeline_info.config"
includeConfig "conf/ext.config"
includeConfig "conf/ressources.config"
