manifest {
  author = "Julien Fouret"
  version = "1.0.0"
  defaultBranch = "main"
  name = "primary"
  description = "Primary"
}

params {
  help = false

  //Input/output options

  input_dir = null
  output_dir = null
  save_fastp = true
  publish_dir_mode = "link"
  keep_trimmed = true
  
  // fastp options

  trim_poly_g = true
  trim_poly_x = true
  min_avg_qual = 28
  min_len = 41
  cut_right_window_size = 4
  cut_right_mean_qual = 20
  cut_tail_window_size = 4
  cut_tail_mean_qual = 25

  // kraken2 options

  kraken2_db = null
  
  // Resource options

  ncpus_low = 4
  ncpus_med = 8
  ncpus_high = 16

}

includeConfig "modules/config/process/labels.config"
includeConfig "modules/config/profiles.config"
includeConfig "conf/publish.config"
includeConfig "conf/ext.config"
