
if (params.keep_trimmed) {
    process {
        withName: 'FASTP' {
            publishDir = [
                [
                    path: { "${params.output_dir}/fastp" },
                    mode: params.publish_dir_mode,
                    pattern: "fastq_trimmed/*.fq.gz",
                ]
            ]
        }
    }
}

